<script setup lang="ts">
import {useTicketStore} from '../stores/ticket'
const useTicket = useTicketStore()
const ticketName = (name: string) => {
        useTicket.ticketnow.name = name
    }
</script>
<template>
    <v-container>
        <v-table>
            <thead>
                <tr>
                    <td>ชื่อหนัง</td>
                    <td>สถานที่</td>
                    <td>วันที่</td>
                    <td>รอบฉาย</td>
                    <td>ที่นั่ง</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in useTicket.toshow" :key="item.id">
                    <td>{{ item.name }}</td>
                    <td>{{ item.where }}</td>
                    <td>{{ item.date }}</td>
                    <td>{{ item.time }}</td>
                    <td>{{ item.seat }}</td>
                </tr>
            </tbody>
        </v-table>
        <!-- <v-btn value="A1" @click="ticketName('A1')" >text</v-btn>
        {{ useTicket.ticketnow.name }}
        {{ useTicket.ticketnow.time }}
        {{ useTicket.ticketnow.date }}
        <v-container v-for="item of useTicket.toshow" :key="item.id">
            {{ item }}
        </v-container> -->
    </v-container>
</template>