<!-- <script setup lang="ts">

</script>
<template>
    

  <v-app :theme="theme" >
    <v-navigation-drawer
        expand-on-hover
        rail
        permanent
      >
         

        <v-divider></v-divider>

        <v-list density="compact" nav>
          <v-list-item  :prepend-icon="mdiHomeCircle" title="Home" value="home" to="/home" @click="on2off"></v-list-item>
          <v-list-item  :prepend-icon="mdiMovieOpen" title="Movie" value="movie" to="/movie" @click="on2off"></v-list-item>
          <v-list-item  :prepend-icon="mdiCartOutline" title="Shop" value="shop" to="/shop" @click="on2off"></v-list-item>
          <v-list-item  :prepend-icon="mdiListBox" title="Transaction" value="list" to="/list" @click="on2off"></v-list-item>
          <v-list-item  :prepend-icon="mdiListBox" title="Main2" value="main2" to="/main2" @click="on2off"></v-list-item>
        </v-list>
      </v-navigation-drawer>

    <v-main>
      <v-container>
        <HomeView v-if="onoff == true"/>
        <router-view v-if="onoff == false"></router-view>
      </v-container>
    </v-main>
  </v-app>
</template>
 

    
  -->
