<script setup lang="ts">
import { mdiMessageBadge , mdiMessageFastOutline} from '@mdi/js';
</script>
<template>
    <v-card
      class="mx-auto"
      max-width="500"
    >
      <v-card-item class="bg-cyan-darken-1">
        <v-card-title>
          <span class="text-h5">Message</span>
        </v-card-title>
  
        <template v-slot:append>
          <v-defaults-provider
            :defaults="{
              VBtn: {
                variant: 'text',
                density: 'comfortable',
              }
            }"
          >
            <v-btn :icon="mdiMessageBadge"></v-btn>
  
 
          </v-defaults-provider>
        </template>
      </v-card-item>
  
      <v-list>
        <v-list-item
          append-icon="mdi-message-text"
          :prepend-icon="mdiMessageFastOutline"
          title="Tadsika Yoosri"
          
        ></v-list-item>
  
        <v-divider inset></v-divider>
  
        <v-list-item
          append-icon="mdi-message-text"
          :prepend-icon="mdiMessageFastOutline"
          title="Siwakorn Chotipanang"
        ></v-list-item>

        <v-divider inset></v-divider>
  
        <v-list-item
          append-icon="mdi-message-text"
          :prepend-icon="mdiMessageFastOutline"
          title="Chaiyaporn Kaewsuma"
        ></v-list-item>

        <v-divider inset></v-divider>
  
        <v-list-item
          append-icon="mdi-message-text"
          :prepend-icon="mdiMessageFastOutline"
          title="Thanaphat Ketsani"
        ></v-list-item>

        <v-divider inset></v-divider>
  
        <v-list-item
          append-icon="mdi-message-text"
          :prepend-icon="mdiMessageFastOutline"
          title="Sitipog Wongchareon"
        ></v-list-item>
  
       
      </v-list>
  
      <v-img
        cover
        height="200"
        src="https://blog.admatter.co/wp-content/uploads/2020/02/%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B9%80%E0%B8%88%E0%B8%B2%E0%B8%B0%E0%B8%A5%E0%B8%B6%E0%B8%81%E0%B9%82%E0%B8%86%E0%B8%A9%E0%B8%93%E0%B8%B2%E0%B8%9A%E0%B8%99-Messenger-01.jpg"
      ></v-img>
    </v-card>
</template>