<script setup lang="ts">
import { mdiClockTimeFiveOutline } from '@mdi/js';
import {useTicketStore} from '../stores/ticket'
const useTicket = useTicketStore()

</script>

<template>
    <v-card>
        <v-container ma-0 pa-0 fill-height>
            <v-row>
                <v-col col="4" class="box">
                    <v-img
                        src="https://dx35vtwkllhj9.cloudfront.net/universalstudios/super-mario-bros/images/regions/us/onesheet.jpg"
                        height="400"></v-img>
                    <v-container>
                        <v-row>
                            <v-col>
                                <h2>The Super Mario Bros. Movie</h2>
                                <div class="mdcm-box">

                                    <div class="mdcm-title">
                                        05 April 2023
                                        <div>
                                            The Super Mario Bros. Movie
                                        </div>
                                        <v-chip class="ma-2">อนิเมชั่น</v-chip>
                                        <v-chip class="ma-2">ผจญภัย</v-chip>
                                        <v-chip class="ma-2">ตลก</v-chip>

                                        <div class="mdcm-logo" style="display: flex;">
                                            <v-icon :icon="mdiClockTimeFiveOutline"></v-icon>"120 นาที"
                                        </div>
                                        <a id="view_showtime" href="/booking2/search_showtime/movie=1977">
                                            <v-btn color="indigo-lighten-4" class="ma-2" to="/m2time" @click="useTicket.ticketName('The Super Mario Bros. Movie'), useTicket.ticketDate('WED 05 APR')">
                                                <h3>ดูรอบฉาย</h3>
                                            </v-btn>
                                        </a>
                                    </div>
                                    <h1>Synopsis</h1>
                                    A plumber named Mario travels through an underground labyrinth with his brother, Luigi,
                                    trying to
                                    save a captured princess.
                                </div>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-col>

                <v-col col="8" class="box">
                    <iframe width="700" height="400" src="https://www.youtube.com/embed/TnGl01FkMMo" frameborder="0"
                        allow="autoplay; encrypted-media" allowfullscreen>
                    </iframe>
                    <v-container>
                        <v-row>
                            <v-col>
                                <h2>Directors</h2>
                                <v-avatar
                                    image="https://cinema10.com.br/upload/personalidades/personalidades_15998_aaronss.jpg?default=personalidade"
                                    size="60"></v-avatar>
                                Aaron Horvath

                                <v-avatar
                                    image="http://vignette4.wikia.nocookie.net/teen-titans-go/images/3/3a/TTG_SDCC2015_007.jpg/revision/latest/scale-to-width-down/2000?cb=20150717100433"
                                    size="60"></v-avatar>
                                Michael Jelenic

                                <v-avatar class="v-avatar"
                                    image="https://media.licdn.com/dms/image/C4E03AQF1K9hHFrperQ/profile-displayphoto-shrink_800_800/0/1575752902922?e=2147483647&v=beta&t=bpDF6IsBteQXKNPsfp8P3FgCKeCXww2e2ePIAQvwOwY"
                                    size="60"></v-avatar>
                                Pierre Leduc
                            </v-col>
                        </v-row>
                    </v-container>
                </v-col>
            </v-row>
            <v-row>
                <v-col col="4" class="box">

                </v-col>
            </v-row>
        </v-container>
    </v-card>
</template>

<style scoped>
.v-avatar {
    margin: 1em;
    
}
</style>