<script setup lang="ts">
import { mdiCellphoneWireless , mdiPhoneOutgoing} from '@mdi/js';
</script>
<template>
    <v-card
      class="mx-auto"
      max-width="500"
    >
      <v-card-item class="bg-cyan-darken-1">
        <v-card-title>
          <span class="text-h5">Telephone Number</span>
        </v-card-title>
  
        <template v-slot:append>
          <v-defaults-provider
            :defaults="{
              VBtn: {
                variant: 'text',
                density: 'comfortable',
              }
            }"
          >
            <v-btn :icon="mdiCellphoneWireless"></v-btn>
  
 
          </v-defaults-provider>
        </template>
      </v-card-item>
  
      <v-list>
        <v-list-item
          append-icon="mdi-message-text"
          :prepend-icon="mdiPhoneOutgoing"
          title="02-6516-0070"
        ></v-list-item>
  
        <v-divider inset></v-divider>
  
        <v-list-item
          append-icon="mdi-message-text"
          :prepend-icon="mdiPhoneOutgoing"
          title="02-6516-0084"
        ></v-list-item>

        <v-divider inset></v-divider>
  
        <v-list-item
          append-icon="mdi-message-text"
          :prepend-icon="mdiPhoneOutgoing"
          title="02-6516-0165"
        ></v-list-item>

        <v-divider inset></v-divider>
  
        <v-list-item
          append-icon="mdi-message-text"
          :prepend-icon="mdiPhoneOutgoing"
          title="02-6516-0169"
        ></v-list-item>

        <v-divider inset></v-divider>
  
        <v-list-item
          append-icon="mdi-message-text"
          :prepend-icon="mdiPhoneOutgoing"
          title="02-6516-0200"
        ></v-list-item>
  
       
      </v-list>
  
      <v-img
        cover
        height="200"
        src="https://nomophobiasite.files.wordpress.com/2016/04/01183.jpg"
      ></v-img>
    </v-card>
  </template>